/*General styling/layout*/
@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    background-color: #F9F6F0;
}

h1{
    font-size: 2.5em;
    font-weight: 600;
    font-family: Gilroy-Bold, sans-serif;
    color: #1DCA9B;
    text-align: center;
}
h2 {
    font-size: 2em;
    font-weight: 600;
    font-family: Gilroy-Bold, sans-serif;
    color: #1DCA9B;
}

img.company{
    width: 150px;
    height: 150px;
}
img.logo {
    width: 120px;
    height: 120px;
}

img.icon {
    width: 50px;
    height: 50px;
    border-radius: 32px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #1d4648;
    font-family: Gilroy-Regular, sans-serif;
    font-weight: 600;
    line-height: 2em;
}

p{
    color: #1d4648;
    font-family: Gilroy-Regular, sans-serif;
    font-weight: 600;  
}

