/*General styling/layout*/
@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

article {
    -webkit-box-shadow: 0px 0px 6px #222;
    -moz-box-shadow: 0px 0px 6px #222;
    box-shadow: 0px 0px 6px #222;
    border-radius: 25px;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    display: grid;
    text-align: center;
}

footer {
    -webkit-box-shadow: 0px -4px 6px -6px #000;
    -moz-box-shadow: 0px -4px 6px -6px #000;
    box-shadow: 0px -4px 6px -6px #000;
    margin-top: 4em;
}

img.company {
    width: 13em;
    height: 3em;
    position: fixed;
    left: 0;
}

/*General stylization*/

@media (min-width:320px) {
    p {
        font-size: 1em;
        font-family: Gilroy-Regular, sans-serif;
        color: #1DCA9B;
    }

    h2 {
        font-size: 1.2em;
        font-weight: 600;
        font-family: Gilroy-Bold, sans-serif;
        color: #1DCA9B;
    }

    h3 {
        font-size: 1em;
        font-weight: 600;
        font-family: Gilroy-Bold, sans-serif;
        color: #1DCA9B;
    }

    ul {
        list-style-type: none;
        text-align: center;
    }

    li {
        display: inline-block;
        padding-inline: 1rem;
        border-radius: 2em;
        background: linear-gradient(96deg, #1DCA9B 9.24%, #1dca24 87.42%);
    }

    li:hover {
        background: linear-gradient(96deg, #1d4dca 9.24%, #38cfc6 87.42%);

    }

    a {
        text-decoration: none;
        color: white;
        font-family: Gilroy-Regular, sans-serif;
        font-weight: 600;
        line-height: 2em;
    }

    p {
        color: #1d4648;
        font-family: Gilroy-Regular, sans-serif;
        font-weight: 600;
        text-align: center;
    }

    nav {
        position: sticky;
        -webkit-box-shadow: 0 4px 6px -6px #000;
        -moz-box-shadow: 0 4px 6px -6px #000;
        box-shadow: 0 4px 6px -6px #000;
        margin-bottom: 2em;
    }

    .handprint {
        margin-bottom: 2em;
        background-color: #F7F7F7;
        max-width: 95vw;
        margin-left: auto;
        margin-right: auto;
        border-radius: 25px;

    }

    .footprint {
        margin-bottom: 2em;
        background-color: #F7F7F7;
        max-width: 95vw;
        margin-left: auto;
        margin-right: auto;
        border-radius: 25px;
    }
}

/*Small screen stylization*/

@media (min-width:641px) {

    p {
        font-size: 1em;
        font-family: Gilroy-Regular, sans-serif;
        color: #1DCA9B;
    }

    h2 {
        font-size: 1.5em;
        font-weight: 600;
        font-family: Gilroy-Bold, sans-serif;
        color: #1DCA9B;
    }

    h3 {
        font-size: 1.2em;
        font-weight: 600;
        font-family: Gilroy-Bold, sans-serif;
        color: #1DCA9B;
    }

    ul {
        list-style-type: none;
        text-align: right;
    }

    li {
        display: inline-block;
        padding-inline: 2em;
        border-radius: 2em;
        background: linear-gradient(96deg, #1DCA9B 9.24%, #1dca24 87.42%);
    }

    li:hover {
        background: linear-gradient(96deg, #1d4dca 9.24%, #38cfc6 87.42%);

    }

    a {
        text-decoration: none;
        color: white;
        font-family: Gilroy-Regular, sans-serif;
        font-weight: 600;
        line-height: 2em;
    }

    p {
        color: #1d4648;
        font-family: Gilroy-Regular, sans-serif;
        font-weight: 600;
    }

    nav {
        position: sticky;
        -webkit-box-shadow: 0 4px 6px -6px #000;
        -moz-box-shadow: 0 4px 6px -6px #000;
        box-shadow: 0 4px 6px -6px #000;
        margin-bottom: 2em;
    }

    .handprint {
        margin-bottom: 2em;
        background-color: #F7F7F7;
        border-radius: 25px;
    }

    .footprint {
        margin-bottom: 2em;
        background-color: #F7F7F7;
        border-radius: 25px;
    }
}

/*Medium screen stylization*/

@media (min-width:820px) {
    p {
        font-size: 1em;
        font-family: Gilroy-Regular, sans-serif;
        color: #1DCA9B;
        text-align: center;
    }

    h2 {
        font-size: 2em;
        font-weight: 600;
        font-family: Gilroy-Bold, sans-serif;
        color: #1DCA9B;
    }

    h3 {
        font-size: 1.2em;
        font-weight: 600;
        font-family: Gilroy-Bold, sans-serif;
        color: #1DCA9B;
    }

    ul {
        list-style-type: none;
        text-align: right;
    }

    li {
        display: inline-block;
        padding-inline: 2em;
        border-radius: 2em;
        background: linear-gradient(96deg, #1DCA9B 9.24%, #1dca24 87.42%);
    }

    li:hover {
        background: linear-gradient(96deg, #1d4dca 9.24%, #38cfc6 87.42%);

    }

    a {
        text-decoration: none;
        color: white;
        font-family: Gilroy-Regular, sans-serif;
        font-weight: 600;
    }

    nav {
        position: sticky;
        -webkit-box-shadow: 0 4px 6px -6px #000;
        -moz-box-shadow: 0 4px 6px -6px #000;
        box-shadow: 0 4px 6px -6px #000;
        margin-bottom: 2em;
    }

    .handprint {
        float: left;
        margin-left: 3em;
        background-color: #F7F7F7;
        border-radius: 25px;
    }

    .footprint {
        float: right;
        margin-right: 3em;
        background-color: #F7F7F7;
        border-radius: 25px;
    }
}

/*Large screen stylization*/