body{
    margin:0;
    font-family: sans-serif;
}

h1{
    font-size: 1.5em;
    font-weight: bold;
    color: darkolivegreen;
}

img.logo{
    width: 150px;
    height: 150px;
}

img.icon{
    width: 50px;
    height: 50px;
    border-radius: 30px;
}
section.left{
    background-color: aliceblue;
    float: left;
    width: 20%;
    overflow: hidden;
    text-align: left;
}

section.right{
    background-color: aliceblue;
    float: right;
    width: 80%;
}
article{
    border: 1px solid;
    border-radius: 25px;

}
ul, li{
    list-style-type: none;
}